html {
  height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0;  
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

#error-page{
  display: table;
  width: 100%;
  height: inherit;
  min-height: inherit;
  text-align: center;
}

.error-code{
  display: table-cell;
  vertical-align: middle;
}

.error-code h1{
  color: #888;
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite, text-color .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}

@keyframes text-color{
  from{color: #888;}
  to{color: rgb(109, 109, 109);}
}